.upload-form {
    margin: 20px auto;
    width: 70%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.submit-button-group {
    text-align: center;
}
